/**
 * Block: field
 */

.field
  display inline-block
  text-align left
  vertical-align top

  &__header
    &__label
      font 300 10pt "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, "Segoe UI Light", Arial, sans-serif

  &__input
    display inline-block
    background $primary-color
    border 0
    outline 0
    padding 0
    margin 0
    font 200 24pt "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, "Segoe UI Light", Arial, sans-serif
    color $alt-color
    placeholder(color $secondary-color,)

    &.error
      color #f00

    &.placeholder-support
      color $secondary-color
