/**
 * Block: layout
 */

$primary-color = #00b285
$secondary-color = #8adfce
$alt-color = #fff
$accent-color = #111

html
body
  height 100%
  overflow hidden

body
  margin 0
  padding 0
  font 200 22pt "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, "Segoe UI Light", Arial, sans-serif
  color $alt-color

.layout
  height 100%
  background $primary-color
  overflow auto

  &__form
    margin-top 100px
    text-align center