/**
 * Block: money-field
 */

.money-field
  width 235px

  &__body
    &__input
      @extend .phone-field__item__input
      width 135px
      text-align right

    &__tag
      display inline-block
      width 100px
      text-align right
