/**
 * Block: pay-form
 */

.pay-form
  display inline-block
  min-width 415px
  max-width 705px

  &__header
    font-size 1.2em
    font-weight 200
    text-align center
    margin 0 0 1em

  &__body
    margin 0 0 35px

  &__control
    text-align center
