/**
 * Block: phone-field
 */

.phone-field
  width 375px
  text-align justify
  white-space nowrap

  &__item
    display inline-block

    &__separator
      display inline-block
      width 10px
      text-align center

    &__input-code
      @extend .field__input
      width 60px
      text-align center

    &__input-number
      @extend .field__input
      width 220px

  &__helper
    display inline-block
    width 100%
    height 0
    visibility hidden
